extends layouts/main-layout.pug

block content
  main.main
      form.product-form(action="/admin/add-product", method="POST")
        .form-control
          label(for="title") Product title
          input(type="text", name="title")#title

          button.btn(type="submit") + Add