* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
}
.main-header {
  width: 100%;
  background-color: rebeccapurple;
  padding: 30px;
  display: flex;
  align-items: center;
}

.form-control {
  gap: 10px;
  display: flex;
  align-items: center;
}

.main-header__list {
  padding: 0;
  margin: 0;
  display: flex;
  list-style: none;
  align-items: center;
  gap: 20px;
}

.main-header__item-list {
  display: flex;
  list-style-type: none;
  gap: 20px;
}

.main-header__item > a {
  text-decoration: none;
  color: #fff;
}

.main {
  padding: 30px;
}

.main__title {
  margin: 20px 0;
}

.product-form {
  display: flex;
  gap: 20px;
}

button {
  background: none;
  border: 1px solid transparent;
  padding: 10px 20px;
  border-radius: 3px;
  color: #f2f2f2;
  height: 40px;
  background-color: seagreen;
}

input {
  padding: 10px;
  height: 40px;
  border: 1px solid #CCC;
  border-radius: 3px;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 30px;
}

.grid img {
  max-width: 180px;
}

.product-item {
  box-shadow: 0 0 20px #ccc;
  padding: 20px;
  text-align: center;
  margin-top: 20px;
}

.card__content {
  padding: .8rem;
}